#pretext
    {
        background-color:maroon;
        text-align:right;
        text-transform: inherit;
        color: #fff;
        p {
            color: #fff;
           
            text-align: right;
        }
        


    }

#links{
    
        text-align: center;
        
     
        font-size:30px;
        
        box-shadow: #000;
        background:#fff ;
        
        
        
        
    

    }
body {
        background-color: rgb(230, 233, 225); 
        } 
        a {
           text-align: center;color: #000;
        }
        p {
           text-align:center; color: #1916c2; 
            } 
        a {
            /*background-color: #ffffff;*/
            text-decoration: hotpink;
        }
ul {
    list-style-type: none;
    margin: 20;
    padding: 50;
    overflow: hidden;
    background-color: #333333;
}

li {
    float:right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}

/*video{
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}